<div class="popup-overlay" *ngIf="isVisible">
  <div class="popup-content">
      <div class="close-btn" (click)="closePopup()">×</div>
      <h2>Subscribe</h2>
      <div class="form-group">
          <!-- <label for="username">Username</label> -->
          <span id="username">{{ username }}</span>
      </div>
      <div class="form-group subscribe-status">
          <label for="subscribe-status">Subscribe Status</label>
          <input type="checkbox" id="subscribe-status">
      </div>
      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </div>
</div>