
    <section class="top-products">
        <div class="product-category">
            <h2>Our Top Subscribed Products</h2>
            <div class="product-container">
                <div class="product">
                    <div class="productimage">
                        <img src="assets/images/nestle.png" alt="Nestle Chocolate">
                    </div>
                    <div class="productdescription">
                        <p> Nestle <br> 205 Subscribers </p>
                    </div>
                </div>
                <div class="product">
                    <div class="productimage">
                        <img src="./assets/images/diarymilk.png" alt="Diary Milk Chocolate">
                    </div>
                    <div class="productdescription">
                        <p> Diary Milk <br> 150 Subscribers </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="product-category">
            <h2>Our Top Rated Products</h2>
            <div class="product-container">
                <div class="product">
                    <div class="productimage">
                        <img src="./assets/images/5stars.png" alt="Bournville Chocolate">
                    </div>
                    <div class="productdescription">
                        <p> Bournville <br> 5 Stars </p>
                    </div>
                </div>
                <div class="product">
                    <div class="productimage">
                        <img src="./assets/images/ccake.png" alt="Chocolate cake">
                    </div>
                    <div class="productdescription">
                        <p> Chocolate cake <br> 5 Stars </p>
                    </div>
                </div>
            </div>
        </div>
    </section>  

    
